.bg-div {
  background: linear-gradient(to left, #496eaa, #9f83cb, #31a7aa);
  background-size: 1400% 300%;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: mymove 20s ease infinite;
  -webkit-animation: mymove 20s ease infinite;
  -moz-animation: mymove 20s ease infinite;
}

@keyframes mymove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0 0;
  }
}
